@{
    ViewData["Title"] = "Home";
}

<div class="text-center" style="margin-top:100px">
    <h1 class="display-4 mb-5">Seja bem-vindo(a)!</h1>

    <div class="btn-group">
        <a href="/Cadastro" class="btn btn-lg btn-outline-success">Cadastrar Time</a>
        <a href="/ExibirPartidas" class="btn btn-lg btn-outline-primary" style="cursor:not-allowed">Exibir Partidas</a>
    </div>


</div>
