@{
    ViewData["Title"] = "Campeão";
}

<div class="text-center" style="max-width:400px;margin:auto; ">
    <h1 class="display-4 mb-3">Campeão</h1>
    <p class="mb-3" style="font-size: 25px;text-transform:uppercase">Parabéns!</p>
    <img  src="~/imgs/trofeu.svg" alt="Troféu" style="width:200px"/>
    <p class="mt-2" style="font-size: 25px;text-transform:uppercase">team-b</p>
    <div class="btn-group w-100">
        <a href="/" class="btn btn-lg btn-outline-primary">Reiniciar</a>
    </div>
</div>
