@{
    ViewData["Title"] = "Partidas";
}

<div class="text-center" style="max-width:400px;margin:auto; ">
    <h1 class="display-4 mb-3">Partidas</h1>
    <h5>Selecione os vencedores de cada partida</h5>

    <table class="table">
        <thead>
            <tr>
                <th>1°Oponente</th>
                <th>2°Oponente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TEAM-A</td>
                <td>TEAM-D</td>
            </tr>
            <tr>
                <td>TEAM-C</td>
                <td>TEAM-E</td>
            </tr>
            <tr>
                <td>TEAM-B</td>
                <td>TEAM-F</td>
            </tr>
            <tr>
                <td>TEAM-G</td>
                <td>TEAM-H</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group w-100">
        <a href="/ExibirPartidas/Campeao" class="btn btn-lg btn-outline-success" style="cursor:not-allowed">Reorganizar Partidas</a>
        <a href="/" class="btn btn-lg btn-outline-primary" >Voltar</a>
    </div>
</div>